@media (min-width: 992px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {}

* {
    box-sizing: border-box;
}


section {
    position: relative;
    border: 1px solid black;
    /* % of the width of the containing element */
    padding: 3%;
    /*the browser calculates the margin*/
    margin: auto;
    background-color: gray;
}

/* Generic rules for div */
div {
    /* div will position itself to the nearest ancestor whch has positioning set to non-static (section) */
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 2%;
    margin: auto;
}

div#chicken {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}