@media (min-width: 992px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {}

* {
    box-sizing: border-box;
}

section {
    position: relative;
}

section.box {
    border: 5px solid black;
    padding: 0ema;
}

div {
    position: absolute;
    top: 0;
    right: 0;
}